<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<mat-form-field>
  <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese un numero">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="valor2" class="marginInput2" type="number" placeholder="Ingrese un numero">
</mat-form-field>
<br>
<mat-checkbox [(ngModel)]="opcion1" class="paddingCheckbox"> Sumar </mat-checkbox>
<mat-checkbox [(ngModel)]="opcion2"> Restar </mat-checkbox>
<br>
<button mat-raised-button color="primary" (click)="operacion()" class="marginButton"> Calcular </button>
<p class="styleResultado"> {{resultado}} </p>
</div>
  
<router-outlet></router-outlet>
