.paddingCheckbox{
    padding-right: 20px;
}

.marginButton{
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginInput2{
    margin-bottom: 10px;
}

.styleResultado{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}