<h1>Consultas</h1>
<form action="/send" method="post">
    Mail:
    <input type="email" name="mail" placeholder="Mail" required>
    <p></p>
    Asunto:
    <input type="text" name="asunto" placeholder="Asunto" required>
    <p></p>
    Mensaje:
    <p></p>
    <textarea name="mensaje" placeholder="Escriba su mensaje.." cols="30" rows="10" required></textarea>
    <p></p>
    <button type="submit">Send</button>
</form>

<p></p>
<h3>{{correcto}}</h3>