{{titulo}}

<form method="post" action="/productos/altaproducto">
    <input type="text" name="nombre">
    <input type="text" name="precio">
    <input type="text" name="descripcion">
    <button type="submit"> Dar de alta </button>
</form>