<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="/productos/alta">Dar de alta el producto</a></p>
<p><a href="/productos/mostrar">Mostrar registros</a></p>
<p><a href="/productos/buscar">Buscar productos</a></p>