<table class="table table-dark">
<thead>
    <th> Nombre </th>
    <th> Precio </th>
    <th> Descripcion </th>
</thead>
{{#each info}}
<tbody>
    <th>{{nombre}}</th>
    <th>{{precio}}</th>
    <th>{{descripcion}}</th>
{{/each}}
</tbody>
</table>